* {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	margin: 0;
}


#container {
	
}

#header > h1 {
	color: #f45800;
	line-height: 2em;
	padding-left: 12px;
    padding-right: 12px;
    font-size: xlarge;

	
}

#listings-container {
	/*border: 1px solid #777; */
	max-width: 80%;
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap;
	flex-direction: row;	
}

#singleItem {
	flex: 1;
}

#nav-headings {
	border-top: 1px solid #777;
	width: 100%;
}

li{
	display: inline-block;
	margin-top: -2%;
	padding: 3%;
	font-size: 14px;
    line-height: 1.4;
    text-align: left;

}

#footer > span {
	display: inline-block;
	padding: 2%;
	margin-left: 8%;
	font-size: 12px;
}